<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>ServletDemo</servlet-name>
		<display-name>ServletDemo</display-name>
		<servlet-class>com.santhosh.servlet.ServletDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>login</servlet-name>
		<display-name>login</display-name>
		<description></description>
		<servlet-class>com.santhosh.servlet.login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>signup</servlet-name>
		<display-name>signup</display-name>
		<description></description>
		<servlet-class>com.santhosh.servlet.signup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserNameServlet</servlet-name>
		<display-name>UserNameServlet</display-name>
		<description></description>
		<servlet-class>sDFG.UserNameServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChatroomServletEndpoint</servlet-name>
		<display-name>ChatroomServletEndpoint</display-name>
		<description></description>
		<servlet-class>sDFG.ChatroomServletEndpoint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChatroomServerConfigurator1</servlet-name>
		<display-name>ChatroomServerConfigurator1</display-name>
		<description></description>
		<servlet-class>sDFG.ChatroomServerConfigurator1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewProject</servlet-name>
		<display-name>NewProject</display-name>
		<description></description>
		<servlet-class>com.santhosh.servlet.NewProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EventUpdate</servlet-name>
		<display-name>EventUpdate</display-name>
		<description></description>
		<servlet-class>com.santhosh.servlet.EventUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EventMail</servlet-name>
		<display-name>EventMail</display-name>
		<description></description>
		<servlet-class>com.santhosh.servlet.EventMail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDemo</servlet-name>
		<url-pattern>/ServletDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>signup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserNameServlet</servlet-name>
		<url-pattern>/UserNameServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatroomServletEndpoint</servlet-name>
		<url-pattern>/ChatroomServletEndpoint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatroomServerConfigurator1</servlet-name>
		<url-pattern>/ChatroomServerConfigurator1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewProject</servlet-name>
		<url-pattern>/NewProject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EventUpdate</servlet-name>
		<url-pattern>/EventUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EventMail</servlet-name>
		<url-pattern>/EventMail</url-pattern>
	</servlet-mapping>
	
</web-app>
